/* whole website */
body {
  text-align: center;
}

.facebook {
  padding-bottom: 20px;
  max-width: 50px;
}

  button
  	{margin:0;border:none;cursor:pointer;}
    button:focus
	{background:#808080;color:#000;}

  button,
.home{
	background: black;
	padding:14px;

	vertical-align:middle;
	}
  button:hover,.home:hover
	{background:#4d4d4d;color:#fff;}


  [class*="container_list"]
  	{display:block;position:relative; float: left;}


/* added the line below and the search bar completely disappeared */
#navbar {
overflow: hidden;
background-color: #333;
}

#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

#navbar a:hover {
background-color: #ddd;
color: black;
}

#navbar a.active {
background-color: #4CAF50;
color: white;
}

.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}






/* made the black part go smaller and the words disappeared */
    #sticky_nav{
    	background:#000;
    	width:100%;
    	top:-45px;
    	display:block;
    	position:fixed;
    	z-index:999;
    	transition:all .5s ease
    	}



/* below changes the alignment of the pictures under testimonials and changes the footer from black to grey-ish */

  /* ends */









/* this changed the pictures and footer normal again */

/* ends */

/* makes the small grey bar disappear, and now onlt the "logo and Description" is left */

/* ends */




/* this makes the little pop up appear when you click on "dropdown1" can get rid of this whole section later */

/* makes the show list slowly come down  */

/* ends */

/* once you click on the upper right corner like twice or once a search bar appears */

/* ends */







/* navbar */
.logo {
  max-width: 150px;
  max-height: 500px;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #36b6f7;
}

@keyframes example { from { background-color:black;}
to {background-color: #4DC3ff;}
}

.navbar {
  animation-name: example;
  animation-duration: 5s;
}

.navbar-toggler-icon {
color: white;}



/* carousel */
.d-block {
  min-height: 500px;
  max-height: 1000px;
}

.flexcontainer {
  margin: 0px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexcontainer2 {
  margin: 0px 50px;
  padding: 50px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: justify;
}


/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home Page */
.lobster {
  max-width: 600px;
  padding: 25px;
}

.welcome {
  padding: 25px;
  text-align: justify;
}

.ourstudio{

}
.h1 {text-align: center;}

.dance {
  max-width: 500px;
  max-height: 1000px;
}

.info {
  padding: 25px;
  flex-direction: row;
}

.welcome{
font-family: 'Nunito', sans-serif;
}
.flexcontainer2{font-family: 'Nunito',
 sans-serif;

}
.card{
background-color:#DCDCDC;
font-family: 'Nunito', sans-serif;

}

.card-img-top{
  border-style:solid;
}

.card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.card-header{
  background-color: black;
}

.btn-link {
  color: white;
  background-color: black;
}

.btn-link:hover {
  color: #36b6f7;
}

/* Piano Page */
.pp1 {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.p24 {
  padding: 30px 30px;
}

table {
  border-style: solid;
  padding: 10px;
  display: inline-table;
}

/* vocal page */
.vcontent {
  margin: 0px 50px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sing {
  padding: 10px 10px;
  max-width: 400px;
  flex-grow: 300px;
}

.nextto {
  padding: 30px 30px;
}

/* Theater arts page*/
.hands {
  padding: 30px 30px;
}


/* Summer Camps page */
.acts {
  padding: 30px 30px;
}


/* Contact Page */
.ccontent {
  margin: 0px 50px;
}

.hours {
  list-style-image: url(Media/eighthnote1.png);
  list-style-position: inside;
  padding: 0px 350px;
}

.map {
  padding: 20px 20px;
}

@media {

}
