/* whole website */
body {
  text-align: center;
}

.facebook {
  padding-bottom: 20px;
  max-width: 50px;
}



/* navbar */
.logo {
  max-width: 150px;
  max-height: 500px;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #36b6f7;
}

@keyframes example { from { background-color:black;}
to {background-color: #4DC3ff;}
}

.navbar {
  animation-name: example;
  animation-duration: 5s;
}

.navbar-toggler-icon {
color: white;}



/* carousel */
.d-block {
  min-height: 500px;
  max-height: 1000px;
}

.flexcontainer {
  margin: 0px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


  font-family: 'Roboto', sans-serif;
}

.flexcontainer2 {
  margin: 0px 50px;
  padding: 50px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}


/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home Page */
.lobster {
  max-width: 600px;
  padding: 25px;
}

.welcome {
  padding: 25px;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.ourstudio{

}
.row {text-align: justify;}
.rowvcontent{text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.h1 {text-align: center;}

.dance {
  max-width: 500px;
  max-height: 1000px;
}

.info {
  padding: 25px;
  flex-direction: row;
}

.welcome{
font-family: 'Nunito', sans-serif;
}
.flexcontainer2{font-family: 'Nunito',
 sans-serif;

}
.card{
background-color:#DCDCDC;
font-family: 'Nunito', sans-serif;

}

.card-img-top{
  border-style:solid;
}

.card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.card-header{
  background-color: black;
}

.btn-link {
  color: white;
  background-color: black;
}

.btn-link:hover {
  color: #36b6f7;
}

/* Piano Page */
.pp1 {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.p24 {
  padding: 30px 30px;
}

table {
  border-style: solid;
  padding: 10px;
  display: inline-table;
}

/* vocal page */
.vcontent {
  margin: 0px 50px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sing {
  padding: 10px 10px;
  max-width: 400px;
  flex-grow: 300px;
}

.nextto {
  padding: 30px 30px;
}

/* Theater arts page*/
.hands {
  padding: 30px 30px;
}


/* Summer Camps page */
.acts {
  padding: 30px 30px;
}


/* Contact Page */
.ccontent {
  margin: 0px 50px;
}

.hours {
  list-style-image: url(Media/eighthnote1.png);
  list-style-position: inside;
  padding: 0px 350px;
}

.map {
  padding: 20px 20px;
}

@media {

}
