/* whole website */
body {
  text-align: center;
}
/* start of bounce out animation */
@import "compass/css3";

/* Variables */
$bounce-color: #f66;
$image-size: 200px;

/* Styles */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body, html {
	background: WhiteSmoke;
	font-family: 'Ubuntu', sans-serif;
	color: #0f383e;
	text-align: center;

	h1 {
		font-size: 1.2rem;
		font-weight: bold;
	}

	p {
		font-size: 0.95rem;
  }

	.holder {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -110px;
		margin-top: -185px;

		.avatar {
			margin: 25px auto;

			img.user {
				height: $image-size;
				width: $image-size;
				background-color: $bounce-color ;
				box-shadow: 0 0 0 5px $bounce-color ;
				border-radius: 50%;

				&:hover {
					cursor: pointer;
					animation:bounceOut .4s linear;
				}
			}
		}
	}
}

@keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px $bounce-color; opacity:1;}
        25%{ box-shadow: 0 0 0 1px $bounce-color; opacity:1;}
        50%{ box-shadow: 0 0 0 7px $bounce-color; opacity:1; }
        75%{ box-shadow: 0 0 0 4px $bounce-color; opacity:1;}
        100%{ box-shadow: 0 0 0 5px $bounce-color; opacity:1;}
}
/* end of bounce out animation  */

/* navbar */
.logo {
  max-width: 150px;
  max-height: 500px;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #36b6f7;
}

@keyframes example { from { background-color:black;}
to {background-color: #4DC3ff;}
}

.navbar {
  animation-name: example;
  animation-duration: 5s;
}

.navbar-toggler-icon {
color: white;}



/* carousel */
.d-block {
  min-height: 500px;
  max-height: 1000px;
}

.flexcontainer {
  margin: 0px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexcontainer2 {
  margin: 0px 50px;
  padding: 50px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home Page */
.lobster {
  max-width: 600px;
  padding: 25px;
}

.welcome {
  padding: 25px;
}

.ourstudio{

}

.dance {
  max-width: 500px;
  max-height: 1000px;
}

.info {
  padding: 25px;
  flex-direction: row;
}

.welcome{background-color:#D6E5E2;
font-family: 'Nunito', sans-serif;
}
.flexcontainer2{font-family: 'Nunito',
 sans-serif;

}
.card{
background-color:#DCDCDC;
font-family: 'Nunito', sans-serif;

}

.card-img-top{
  border-style:solid;
}

.card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

/* Piano Page */
.pp1 {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.p24 {
  padding: 10px 10px;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;}

table {
  border-style: solid;
  padding: 10px;
  display: inline-table;
}

/* vocal page */
.vcontent {
  margin: 0px 50px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sing {
  padding: 10px 10px;
  max-width: 400px;
  flex-grow: 300px;
}

.yes {
  flex-grow: 300px;
}

/* Theater arts page*/
.tcontent {
  margin: 0px 50px;
}

/* Summer Camps page */


/* Contact Page */
.listh:before{
  content: '♪';
  list-style-type: left;
}

.hours {
  list-style-type: none;
}

.listh{
  justify-content: center;
}
@media {

}
