/* whole website */
body {
  text-align: center;
}

.facebook {
  padding-bottom: 20px;
  max-width: 50px;
}

.flexcontainer {
  margin: 0px 20px;
  padding: 20px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: justify;
}

button
  {margin:0;border:none;cursor:pointer;}
  button:focus
{background:#808080;color:#000;}

button,
.home{
background:transparent;
padding:14px;

vertical-align:middle;
}
button:hover,.home:hover
{background:#4d4d4d;color:#fff;}


[class*="container_list"]
  {display:block;position:relative; float: left;}


/* added the line below and the search bar completely disappeared */







/* made the black part go smaller and the words disappeared */
  #sticky_nav{
    background:#000;
    width:100%;
    top:-45px;
    display:block;
    position:fixed;
    z-index:999;
    transition:all .5s ease
    }
/* navbar */

.logo {
  max-width: 150px;
  max-height: 500px;
}

.navbar {
  background-color: black;
  animation-name: example;
  animation-duration: 5s;
}

.nav-link {
  color: white;
}

.nav-link:hover, .btn-link:hover {
  color: #36b6f7;
}

@keyframes example {
  from {
    background-color: black;
  }

  to {
    background-color: #4DC3ff;
  }
}

.navbar-toggler-icon {
  color: white;
}

/* carousel */
.d-block {
  min-height: 500px;
  min-height: 100px;
}

@media only screen and (max-width: 600px) {
  .carousel-inner {
    max-height: 400px;
  }
}

/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home Page */
.lobster {
  max-width: 600px;
  padding: 25px;
}

.welcome {
  padding: 25px;
  text-align: justify;

}

.price{
  text-align: center;

}
.intro{  text-align: center;
}


.row, .vcontent {
  text-align: justify;
}

.h1 {
  text-align: center;
  font-size: 30px;
}

.prices {
  text-align: center;
}

.dance {
  max-width: 500px;
  max-height: 1000px;
  padding: 20px;
}

.card {
  background-color: #DCDCDC;
}

.card-img-top {
  border-style: solid;
}

.card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-header {
  background-color: black;
}

.btn-link {
  color: white;
  background-color: black;
}

/* Piano Page */
.pcontent, .p24 {
  padding: 20px 20px;
}

.p21 {
  max-width: 90%;
  min-width: 80%;
}

table, th, td {
  text-align: center;
  border-style: solid;
  border-color: #b3b3b3;
  padding: 10px;
}

/* vocal page */
.nextto {
  padding: 30px 30px;
}

/* Theater arts page*/
.hands {
  padding: 30px 30px;
}

.invoice {
  padding: 20px 20px;
}

/* Summer Camps page */
.sccontent {
  padding: 20px 20px;
}

.duck {
  padding: 20px 20px;
  min-width: 360px;
}

/* Contact Page */
.ccontent {
  margin: 0px 50px;
}

hr {
  background-color: #36b6f7;
}

.hours {
  list-style-image: url(Media/eighthnote1.png);
  display: inline-block;
  text-align: left;
}

.time {
  text-align: center;
}

.map {
  padding: 20px 20px;
}
